/* Section de la carte */
.map-section {
  margin-top: 100px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.54);
}

.map-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.map-column {
  flex: 3;
}

/* Colonne légende */
.legend-column {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);

  h3 {
    color: var(--terre-fonce);
    margin-bottom: 30px;
  }

  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--gris-ardoise);

    .legend-color {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}

/* Styles popup */
.popup-content {
  text-align: center;
}

.popup-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.popup-title {
  font-size: 18px;
  margin: 10px 0px 10px 0px;
  color: var(--terre-fonce);
}

.leaflet-popup-content .itinerary-link {
  color: var(--sable-clair);
  text-decoration: none;
  background-color: var(--terre-clair);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.24);

  &:hover {
    background-color: var(--sable-clair);
    color: var(--terre-clair);
  }
}
