/* Section de la carte */
.map-section {
  margin-top: 100px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.54);
  background-color: #FFFFFF;
  padding: 20px;
}

.map-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-direction: row;
}

.map-column {
  flex: 2;
  margin: 10px;
}

.popup-img {
  width: 100%;
  height: 100%;
  max-height: 385px;
}

/* Colonne légende */
.legend-column {
  flex: 1;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);

  .popup-title {
    color: var(--terre-fonce);
    margin-bottom: 30px;
  }

  .text-legend {
    margin-top: 80px;
    font-size: 15px;

    .icon-text {
      font-size: 20px;
    }
  }

  h4.category-name {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--terre-clair);
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--gris-ardoise);

    .legend-color {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 10px;
      background-color: currentColor;
    }

    a {
      text-decoration: none;
      color: var(--gris-ardoise);
      font-size: 15px;

      &:hover {
        text-decoration: underline;
      }

      .icon-site {
        font-size: 20px;
      }
    }

    .filter-map.legend-color-link {
      margin-left: 20px;
      font-weight: 500;
      font-size: 15px;

      &:hover {
        text-decoration: underline;
      }
    }

    &.show-all-markers a {
      font-weight: bold;
      text-align: center;
      width: 100%;
    }

  }
}


@media (max-width: 1084px) {
  .map-container {

    flex-direction: column;
  }
}