html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  min-height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 90px;
  height: 100%;
  z-index: 1001;
  background-color: var(--sable-fonce);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);

  .navbar-brand,
  .navbar-burger,
  .navbar-bottom {
    z-index: 1002;
  }
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.navbar-burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  span {
    display: block;
    width: 25px;
    height: 2px;
    margin: 4px;
    background-color: var(--terre-fonce);
    transition: all 0.3s ease-in-out;

    &:nth-child(2) {
      width: 20px;
      align-self: flex-start;
    }
  }

  .text-menu {
    color: var(--terre-fonce);
  }
}

.navbar-menu {
  transform: translateX(-100%);
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 600px;
  background-color: var(--sable-fonce);
  position: fixed;
  top: 0;
  height: 100%;
  padding-top: 100px;
  padding-right: 50px;
  z-index: 1000;
  border-top-right-radius: 325px;
  border-bottom-right-radius: 350px;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.75);

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li a {
      color: var(--terre-fonce);
      text-decoration: none;
      font-family: 'Shantell Sans', 'Helvetica', 'Arial', sans-serif;
      font-weight: 400;
      font-size: 2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* sous-éléments du menu */
  ul li.menu-item-has-children>ul {
    padding-left: 40px;
  }

  /* Style pour les sous-menus avec une flèche */
  ul li.menu-item-has-children>ul>li::before {
    content: '\21AA';
    margin-right: 10px;
    color: var(--jaune-clair);
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Shantell Sans', 'Helvetica', 'Arial', sans-serif;
  }

  ul li.menu-item-has-children>ul>li a {
    font-size: 25px;
    color: var(--jaune-clair);
  }
}


.navbar-menu.is-active {
  transform: translateX(300px);
}

.navbar-item {
  padding: 5px;
  color: var(--jaune-clair);

  img {
    margin-top: 20px;
    background-color: var(--jaune-clair);
    border-radius: 100%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.54);
  }
}

.navbar-burger.is-active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

#inner-wrap {
  margin-left: 90px;
  flex: 1;
  position: relative;
}

.vertical-column {
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding: 1px;
  font-size: 1.2rem;
}

.navbar-bottom {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--jaune-clair);
  font-weight: 700;

  .highlight {
    color: var(--terre-fonce);
    font-weight: 800;
  }
}

.navbar-bottom .vertical-column {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 60px;
    height: 60px;
    top: 115px;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 35px;
    border-radius: 0 35px 35px 0;
  }

  .navbar-menu {
    transform: translateX(-100%);
    transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--sable-fonce);
    z-index: 1000;
    padding-top: 100px;
    padding-right: 0;
    border-radius: 0;
  }

  .navbar-menu.is-active {
    transform: translateX(0);
  }

  .navbar-menu ul {
    margin-top: 140px;
    padding-left: 0;
    width: 100%;
    text-align: center;
  }

  .navbar-menu ul li {
    margin: 0;
    padding: 0.5rem 0;
  }

  .navbar-menu ul li.menu-item-has-children>ul {
    padding-left: 20px;
    margin-top: 0;
  }

  .navbar-menu ul li.menu-item-has-children>ul>li {
    margin: 0.2rem 0;
  }

  .navbar-menu ul li.menu-item-has-children>ul>li a {
    font-size: 1.8rem;
    padding: 0.3rem 0;
  }

  #inner-wrap {
    margin-left: 0;
  }

  .navbar-bottom,
  .vertical-column,
  .navbar-item {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .navbar-burger .is-active {
    top: 15%;
    transform: translateY(-50%);
  }

  .navbar {
    width: 50px;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sable-fonce);
    z-index: 1001;
  }

  .navbar-menu {
    transform: translateX(-100%);
    transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--sable-fonce);
    z-index: 1000;
    padding: 1.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    ul {
      margin-top: 10px;
      padding-left: 0;
      width: 100%;
    }
  }

  /* Afficher le menu lorsque le burger est cliqué */
  .navbar-menu.is-active {
    transform: translateX(0);
  }

  .navbar-menu ul {
    margin-top: 140px;
    width: 100%;
    margin-left: 10px;
  }

  .navbar-menu ul li {
    margin: 0;
    padding: 0.3rem 0;
  }

  .navbar-menu ul li a {
    font-size: 1.5rem;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    display: block;
  }

  .navbar-menu ul li.menu-item-has-children>ul {
    padding-left: 0;
    margin-top: 0;
    width: 100%;
  }

  .navbar-menu ul li.menu-item-has-children>ul>li {
    margin: 0.2rem 0;
    display: flex;
    flex-wrap: wrap;
  }

  .navbar-menu ul li.menu-item-has-children>ul>li a {
    font-size: 1.2rem;
    padding: 0.2rem 0;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  #inner-wrap {
    margin-left: 0;
  }

  .navbar-bottom,
  .vertical-column,
  .navbar-item {
    display: none;
  }
}