.img-amendata {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
}

.img-amendata:hover {
    transform: scale(0.95);
}

.video-3d {
    display: inline-block;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
}

.video-3d img {
    display: block;
    width: 100%;
}

.video-3d figcaption {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.video-3d {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
    transform: translateY(0);
}

.video-3d:hover {
    opacity: 1;
    transform: translateY(-10px);
}

.page-title,
.post-home-title,
.archive-title,
.entry-title {
    opacity: 0;
    transform: translateX(-100px);
    transition: transform 1.2s ease-out, opacity 1.2s ease-out;
    /* Transition fluide */
}

.entry-title.animate,
.page-title.animate,
.post-home-title.animate,
.archive-title.animate {
    opacity: 1;
    transform: translateX(0);
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    60% {
        opacity: 0.5;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}