/* _base.scss */

/* Liens */
a {
  color: var(--terre-fonce);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Boutons */
button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #555;
  }
}

/* Corps de la page */
body {
  background-color: var(--sable-tres-clair);
  color: var(--gris-ardoise);
  font-family: 'Helvetica', 'Arial', sans-serif;

  p {
    font-size: 1.06rem;
  }
}

/* En-tête */
.header {
  background-color: var(--bleu-mediterranee);
  color: var(--sable-tres-clair);
  padding: 20px;
  text-align: center;
}

/* Bouton principal */
.button-primary {
  background-color: var(--terre-cuite-clair);
  color: var(--sable-tres-clair);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--terre-cuite-clair);
  }
}

/* Bouton secondaire */
.button-secondary {
  background-color: var(--jaune);
  color: var(--gris-ardoise);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--jaune);
  }
}
