/* _variables.scss */
:root {
    --terre-clair: #d9875c;
    --terre-fonce: #a0522d;
    --bleu: #4682b4;
    --gris-ardoise: #4a5259;
    --sable-fonce: #d2b48c;
    --sable-clair: #f5deb3;
    --jaune-clair: #f5f5dc;
    --jaune: #fabd30;
    --vert: #8fbc8f;
  }
  