.site-header {
  .site-title-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 90px;
    //background-image: url("assets/images/fond-header.png");

    .site-title {
      flex-grow: 1;
      text-align: center;

      h1 {
        font-size: 2.5rem;
        margin: 0;
        color: var(--terre-fonce);
      }

      p {
        font-size: 1.2rem;
        margin: 5px 0 20px;
        color: var(--gris-ardoise);
      }
    }

    .site-logo {
      flex-shrink: 0;
      margin-left: auto;

      img {
        width: 300px;
        height: auto;

        animation: slideInRotate 2s ease-out;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: rotate(-3deg);
        }
      }
    }



  }
}

@keyframes slideInRotate {
  from {
    transform: translateX(-100%) rotate(-360deg);
  }

  to {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.banner-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 90px;
  margin-right: 0;
  background-color: #F8F8F4;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.54);

  .banner-item {
    width: calc(33.333% - 20px);
    margin: 10px;
    position: relative;
    overflow: hidden;
    background: #F8F8F4;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.54);

    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }

    .image-title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background: rgba(140, 142, 210, 0.6);
      color: #fff;
      padding: 5px 10px;
      font-size: 1rem;
    }
  }
}